.container {
    border: 5px solid cadetblue;
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    border: 2px dashed tomato;
    width: 100px;
    height: 100px;
}