.container {
    border: 5px solid cadetblue;
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    align-items: flex-end;
    flex-direction: column;
}

.box {
    border: 2px dashed tomato;
    width: 100px;
    height: 100px;
}