nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: black;
    font: caption;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid blueviolet;
    gap: 20px;
    width: 50%;
}

.form {
    border: 1px solid salmon;
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}